In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from datetime import date

from sqlalchemy import create_engine
from config import db_password

In [2]:
# load in tensile data 

tensile_df = pd.read_csv("../Resources/Raw Data/tensile_data.csv")
tensile_df

,Date Code,Nominal Thickness,Oven \nNumber,Date Removed from Oven,Pre Cure \nTensile,Pre Cure Elongation,Post Cure Tensile,Post Cure Elongation,Start \nTensile,Start \nElongation,Start Scrap Footage,End \nTensile,End \nElongation,End Scrap Footage,Comments,Class
0,17-B-1045,65T,1,2017-05-12,23.9,610,26.7,431,6.1,130.0,10',7.6,135.0,10',RELEASED BY IAN,Thin
1,17-B-1046,65T,1,2017-05-12,24.6,640,25.9,448,9.2,134.0,10',6.7,175.0,10',RELEASED BY IAN,Thin
2,17-B-1047,65T,1,2017-05-12,25.7,701,25.9,417,8.5,150.0,10',9.5,160.0,10',RELEASED BY IAN,Thin
3,17-B-1048,65T,1,2017-05-12,23.8,648,26.6,456,7.7,156.0,10',6.4,146.0,10',RELEASED BY IAN,Thin
4,17-B-1049,65T,1,2017-05-12,23.2,599,26.6,436,6.8,160.0,10',6.9,142.0,10',RELEASED BY IAN,Thin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2405,22-A-96,65T,NaN,NaN,27.2,823,26.2,486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2406,22-A-97,65T,NaN,NaN,26.5,788,23.5,467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2407,22-A-98,65T,NaN,NaN,27.9,791,33,558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2408,22-A-99,65T,NaN,NaN,23.7,753,33.2,565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2409,22-A-100,65T,NaN,NaN,25.6,785,30.3,594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# rename columns
tensile_df = tensile_df.rename(columns={
    "Date Code": "date_code", 
    "Nominal Thickness": "thickness", 
    "Oven \nNumber": "oven_id", 
    "Date Removed from Oven": "remove_date", 
    "Pre Cure \nTensile":"amb_tensile_pre_cure", 
    "Pre Cure Elongation": "amb_elongation_pre_cure", 
    "Post Cure Tensile": "amb_tensile_post_cure",
    "Post Cure Elongation": "amb_elongation_post_cure",
    "Start \nTensile": "hot_tensile_start",
    "Start \nElongation": "hot_elongation_start",
    "Start Scrap Footage": "start_scrap",
    "End \nTensile": "hot_tensile_end",
    "End \nElongation": "hot_elongation_end",
    "End Scrap Footage": "end_scrap",
    "Comments": "comments",
    "Class": "class"})


tensile_df

,date_code,thickness,oven_id,remove_date,amb_tensile_pre_cure,amb_elongation_pre_cure,amb_tensile_post_cure,amb_elongation_post_cure,hot_tensile_start,hot_elongation_start,start_scrap,hot_tensile_end,hot_elongation_end,end_scrap,comments,class
0,17-B-1045,65T,1,2017-05-12,23.9,610,26.7,431,6.1,130.0,10',7.6,135.0,10',RELEASED BY IAN,Thin
1,17-B-1046,65T,1,2017-05-12,24.6,640,25.9,448,9.2,134.0,10',6.7,175.0,10',RELEASED BY IAN,Thin
2,17-B-1047,65T,1,2017-05-12,25.7,701,25.9,417,8.5,150.0,10',9.5,160.0,10',RELEASED BY IAN,Thin
3,17-B-1048,65T,1,2017-05-12,23.8,648,26.6,456,7.7,156.0,10',6.4,146.0,10',RELEASED BY IAN,Thin
4,17-B-1049,65T,1,2017-05-12,23.2,599,26.6,436,6.8,160.0,10',6.9,142.0,10',RELEASED BY IAN,Thin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2405,22-A-96,65T,NaN,NaN,27.2,823,26.2,486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2406,22-A-97,65T,NaN,NaN,26.5,788,23.5,467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2407,22-A-98,65T,NaN,NaN,27.9,791,33,558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2408,22-A-99,65T,NaN,NaN,23.7,753,33.2,565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2409,22-A-100,65T,NaN,NaN,25.6,785,30.3,594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
tensile_df['oven_id'].value_counts()

3              83
6              82
2              78
4              64
5              64
8              32
7              24
1              16
ENGINEERING     2
VOID            1
Name: oven_id, dtype: int64

In [5]:
# drop columns that don't matter; start and end scrap footage, comments, class
tensile_df = tensile_df.drop(columns=["comments","class","start_scrap","end_scrap"])
tensile_df.head()

,date_code,thickness,oven_id,remove_date,amb_tensile_pre_cure,amb_elongation_pre_cure,amb_tensile_post_cure,amb_elongation_post_cure,hot_tensile_start,hot_elongation_start,hot_tensile_end,hot_elongation_end
0,17-B-1045,65T,1,2017-05-12,23.9,610,26.7,431,6.1,130.0,7.6,135.0
1,17-B-1046,65T,1,2017-05-12,24.6,640,25.9,448,9.2,134.0,6.7,175.0
2,17-B-1047,65T,1,2017-05-12,25.7,701,25.9,417,8.5,150.0,9.5,160.0
3,17-B-1048,65T,1,2017-05-12,23.8,648,26.6,456,7.7,156.0,6.4,146.0
4,17-B-1049,65T,1,2017-05-12,23.2,599,26.6,436,6.8,160.0,6.9,142.0

In [6]:
# remove T from thickness, convert to numeric value
tensile_df['thickness'] = tensile_df.thickness.str.extract('(\d+)').astype(float)
tensile_df.head()

,date_code,thickness,oven_id,remove_date,amb_tensile_pre_cure,amb_elongation_pre_cure,amb_tensile_post_cure,amb_elongation_post_cure,hot_tensile_start,hot_elongation_start,hot_tensile_end,hot_elongation_end
0,17-B-1045,65.0,1,2017-05-12,23.9,610,26.7,431,6.1,130.0,7.6,135.0
1,17-B-1046,65.0,1,2017-05-12,24.6,640,25.9,448,9.2,134.0,6.7,175.0
2,17-B-1047,65.0,1,2017-05-12,25.7,701,25.9,417,8.5,150.0,9.5,160.0
3,17-B-1048,65.0,1,2017-05-12,23.8,648,26.6,456,7.7,156.0,6.4,146.0
4,17-B-1049,65.0,1,2017-05-12,23.2,599,26.6,436,6.8,160.0,6.9,142.0

In [7]:
# check data set datatypes
tensile_df.dtypes

date_code                    object
thickness                   float64
oven_id                      object
remove_date                  object
amb_tensile_pre_cure         object
amb_elongation_pre_cure      object
amb_tensile_post_cure        object
amb_elongation_post_cure     object
hot_tensile_start            object
hot_elongation_start        float64
hot_tensile_end             float64
hot_elongation_end          float64
dtype: object

In [8]:
#convert to numeric
tensile_df['oven_id']=pd.to_numeric(tensile_df['oven_id'], errors='coerce')

In [9]:
# convert remove_date to datetime
tensile_df['remove_date']=pd.to_datetime(tensile_df['remove_date'])

In [10]:
#convert ambient tensile pre cure to float
tensile_df['amb_tensile_pre_cure']=pd.to_numeric(tensile_df['amb_tensile_pre_cure'],errors='coerce')

In [11]:
#convert ambient elongation pre cure to float
tensile_df['amb_elongation_pre_cure']=pd.to_numeric(tensile_df['amb_elongation_pre_cure'],errors='coerce')

In [12]:
#convert ambient tensile prost cure to float
tensile_df['amb_tensile_post_cure']=pd.to_numeric(tensile_df['amb_tensile_post_cure'],errors='coerce')

In [13]:
#convert ambient elongation post cure to float
tensile_df['amb_elongation_post_cure']=pd.to_numeric(tensile_df['amb_elongation_post_cure'],errors='coerce')

In [14]:
#convert ambient tensile pre cure to float
tensile_df['hot_tensile_start']=pd.to_numeric(tensile_df['hot_tensile_start'],errors='coerce')

In [15]:
tensile_df.dtypes

date_code                           object
thickness                          float64
oven_id                            float64
remove_date                 datetime64[ns]
amb_tensile_pre_cure               float64
amb_elongation_pre_cure            float64
amb_tensile_post_cure              float64
amb_elongation_post_cure           float64
hot_tensile_start                  float64
hot_elongation_start               float64
hot_tensile_end                    float64
hot_elongation_end                 float64
dtype: object

In [16]:
tensile_df.isna().sum()

date_code                      1
thickness                      2
oven_id                     1967
remove_date                 2303
amb_tensile_pre_cure          41
amb_elongation_pre_cure       21
amb_tensile_post_cure         19
amb_elongation_post_cure      13
hot_tensile_start             11
hot_elongation_start          11
hot_tensile_end               12
hot_elongation_end            12
dtype: int64

In [17]:
# drop olumns with high number of nulls remaining
tensile_df=tensile_df.drop(columns=['oven_id','remove_date'])

In [18]:
#Keep only clean data
tensile_df=tensile_df.dropna()
tensile_df

,date_code,thickness,amb_tensile_pre_cure,amb_elongation_pre_cure,amb_tensile_post_cure,amb_elongation_post_cure,hot_tensile_start,hot_elongation_start,hot_tensile_end,hot_elongation_end
0,17-B-1045,65.0,23.9,610.0,26.7,431.0,6.1,130.0,7.6,135.0
1,17-B-1046,65.0,24.6,640.0,25.9,448.0,9.2,134.0,6.7,175.0
2,17-B-1047,65.0,25.7,701.0,25.9,417.0,8.5,150.0,9.5,160.0
3,17-B-1048,65.0,23.8,648.0,26.6,456.0,7.7,156.0,6.4,146.0
4,17-B-1049,65.0,23.2,599.0,26.6,436.0,6.8,160.0,6.9,142.0
...,...,...,...,...,...,...,...,...,...,...
2399,22-A-90,65.0,18.1,595.0,28.3,517.0,10.5,189.0,9.9,188.0
2400,22-A-91,65.0,27.7,740.0,31.6,557.0,13.8,176.0,13.2,174.0
2401,22-A-92,65.0,22.1,741.0,29.7,530.0,11.0,179.0,18.2,191.0
2402,22-A-93,65.0,27.6,800.0,32.9,574.0,14.7,180.0,13.1,186.0
2403,22-A-94,65.0,26.8,821.0,30.0,578.0,15.7,194.0,17.2,198.0

In [19]:
# establish norms
tensile_df.describe()

,thickness,amb_tensile_pre_cure,amb_elongation_pre_cure,amb_tensile_post_cure,amb_elongation_post_cure,hot_tensile_start,hot_elongation_start,hot_tensile_end,hot_elongation_end
count,2341.000000,2341.000000,2341.000000,2341.000000,2341.000000,2341.000000,2341.000000,2341.000000,2341.000000
mean,87.811192,22.822123,555.373721,26.683919,499.125203,8.443652,199.686459,8.491422,197.966322
std,28.369483,6.761183,161.161864,6.741944,81.626109,2.953055,62.576238,2.936532,55.613880
min,30.000000,17.100000,1.630000,19.100000,128.000000,2.500000,21.000000,2.700000,100.000000
25%,65.000000,20.100000,440.000000,23.700000,447.000000,6.400000,166.000000,6.500000,164.000000
50%,66.000000,21.200000,539.000000,25.200000,483.000000,7.800000,201.000000,7.800000,200.000000
75%,117.000000,24.600000,684.000000,28.800000,539.000000,9.800000,226.000000,9.800000,225.000000
max,117.000000,215.000000,1045.000000,285.100000,852.000000,24.400000,1749.000000,26.300000,1920.000000

In [20]:
# function that removes outliers from each specified column df = dataframe, cols = list of column names

def remove_outliers(df,cols):
    #iterate through each column
    for col in df.columns:
        # check if column requires outlier scrubbing
        if col in cols:
            #print for debug
            #print(f"Processing ",col)
            
            #get quartile values
            q1 = df[col].quantile(0.25)
            q3 = df[col].quantile(0.75)
            iqr = q3-q1
            #get upper/lower bounds
            upper = q3+1.5*iqr
            lower = q1-1.5*iqr
            #filter df to keep only values which are below the upper bound, above the lower bound
            df=df.loc[(df[col]<upper)&(df[col]<upper)]
    # return filtered df
    return df

In [21]:
# remove outliers from temp_tensile
cols = tensile_df.loc[:, (tensile_df.columns !='thickness')&(tensile_df.columns !='date_code')].columns

#clean tensile dataframe equal to original without outliers
clean_tensile_df = remove_outliers(tensile_df, cols)
clean_tensile_df

,date_code,thickness,amb_tensile_pre_cure,amb_elongation_pre_cure,amb_tensile_post_cure,amb_elongation_post_cure,hot_tensile_start,hot_elongation_start,hot_tensile_end,hot_elongation_end
0,17-B-1045,65.0,23.9,610.0,26.7,431.0,6.1,130.0,7.6,135.0
1,17-B-1046,65.0,24.6,640.0,25.9,448.0,9.2,134.0,6.7,175.0
2,17-B-1047,65.0,25.7,701.0,25.9,417.0,8.5,150.0,9.5,160.0
3,17-B-1048,65.0,23.8,648.0,26.6,456.0,7.7,156.0,6.4,146.0
4,17-B-1049,65.0,23.2,599.0,26.6,436.0,6.8,160.0,6.9,142.0
...,...,...,...,...,...,...,...,...,...,...
2396,22-A-87,65.0,18.2,572.0,29.0,509.0,12.3,174.0,11.7,174.0
2397,22-A-88,65.0,23.7,711.0,28.2,500.0,10.5,177.0,12.0,186.0
2398,22-A-89,65.0,17.2,556.0,24.4,525.0,13.9,156.0,10.8,177.0
2399,22-A-90,65.0,18.1,595.0,28.3,517.0,10.5,189.0,9.9,188.0
2400,22-A-91,65.0,27.7,740.0,31.6,557.0,13.8,176.0,13.2,174.0

In [22]:
# produce binary pass/fail based on ASTM specs

clean_tensile_df['amb_elongation_result']=np.where(clean_tensile_df['amb_elongation_post_cure']>250,1,0)
clean_tensile_df['amb_tensile_result']=np.where(clean_tensile_df['amb_tensile_post_cure']>24,1,0)
clean_tensile_df['hot_tensile_result']= np.where(np.logical_and(np.logical_and(clean_tensile_df['hot_tensile_start']>6,clean_tensile_df['hot_tensile_start']<16),np.logical_and(clean_tensile_df['hot_tensile_end']>6,clean_tensile_df['hot_tensile_end']<16)),1,0)
clean_tensile_df['hot_elongation_result']=np.where(np.logical_and(clean_tensile_df['hot_elongation_start']>100,clean_tensile_df['hot_elongation_end']>100),1,0)
clean_tensile_df['overall_result']=clean_tensile_df['amb_elongation_result']*clean_tensile_df['amb_tensile_result']*clean_tensile_df['hot_elongation_result']*clean_tensile_df['hot_tensile_result']
clean_tensile_df

,date_code,thickness,amb_tensile_pre_cure,amb_elongation_pre_cure,amb_tensile_post_cure,amb_elongation_post_cure,hot_tensile_start,hot_elongation_start,hot_tensile_end,hot_elongation_end,amb_elongation_result,amb_tensile_result,hot_tensile_result,hot_elongation_result,overall_result
0,17-B-1045,65.0,23.9,610.0,26.7,431.0,6.1,130.0,7.6,135.0,1,1,1,1,1
1,17-B-1046,65.0,24.6,640.0,25.9,448.0,9.2,134.0,6.7,175.0,1,1,1,1,1
2,17-B-1047,65.0,25.7,701.0,25.9,417.0,8.5,150.0,9.5,160.0,1,1,1,1,1
3,17-B-1048,65.0,23.8,648.0,26.6,456.0,7.7,156.0,6.4,146.0,1,1,1,1,1
4,17-B-1049,65.0,23.2,599.0,26.6,436.0,6.8,160.0,6.9,142.0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2396,22-A-87,65.0,18.2,572.0,29.0,509.0,12.3,174.0,11.7,174.0,1,1,1,1,1
2397,22-A-88,65.0,23.7,711.0,28.2,500.0,10.5,177.0,12.0,186.0,1,1,1,1,1
2398,22-A-89,65.0,17.2,556.0,24.4,525.0,13.9,156.0,10.8,177.0,1,1,1,1,1
2399,22-A-90,65.0,18.1,595.0,28.3,517.0,10.5,189.0,9.9,188.0,1,1,1,1,1
2400,22-A-91,65.0,27.7,740.0,31.6,557.0,13.8,176.0,13.2,174.0,1,1,1,1,1

In [23]:
# get final tensile data showing only X vals (thickness, ambient tensile/elongation pre cure) and Y vals (results 0/1 for fail/pass)

final_tensile_df = clean_tensile_df.drop(columns=['amb_elongation_post_cure',
                                                  'amb_tensile_post_cure',
                                                  'hot_tensile_start',
                                                  'hot_elongation_start',
                                                  'hot_tensile_end',
                                                  'hot_elongation_end'])

final_tensile_df.head()

,date_code,thickness,amb_tensile_pre_cure,amb_elongation_pre_cure,amb_elongation_result,amb_tensile_result,hot_tensile_result,hot_elongation_result,overall_result
0,17-B-1045,65.0,23.9,610.0,1,1,1,1,1
1,17-B-1046,65.0,24.6,640.0,1,1,1,1,1
2,17-B-1047,65.0,25.7,701.0,1,1,1,1,1
3,17-B-1048,65.0,23.8,648.0,1,1,1,1,1
4,17-B-1049,65.0,23.2,599.0,1,1,1,1,1

In [24]:
#save as csv
final_tensile_df.to_csv('../Resources/Clean Data/final_tensile.csv', index=False)

In [25]:
# connect to PostrgreSQL
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/polypropylene_analysis_db"
engine = create_engine(db_string)
final_tensile_df.to_sql(name='tensile_data', con=engine, if_exists='replace')